*{
  margin: 0;
  padding: 0;
  font-family: "Open sans", "sans-serif";
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
li{
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul, li, a{
  text-decoration: none;
}

.flex-container{
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
}

header{
  background-color: #122a57;
  height: 100px;
  display:flex;
  align-items: center;
  color: #fff;
}

header.list-items{
  display: flex;
  width: 100%;
  max-width: 260px;
  justify-content: space-between;
  align-items: center;
}

.list-items li a{
  color: #fff;
}
.menu{
justify-content: space-between;
}

.apresentacao{
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}
.texto-apresentacao{
  min-height: 200px;

}

.texto-apresentacao h1{
  color: #122a57;
  font-size: 48px;
  margin-bottom: 10px;
}
.btn{
  background-color: #122a57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#quem-somos{
  align-items: center;
  justify-content: space-between;
}
#quem-somos h2{
  font-size: 32px;
  color: #122a57;
  display: flex;

}
#quem-somos h2::before{
  content: "";
  height: 50px;
  width: 5px;
  margin-right: 5px;
  background-color: #122a57;
  position: relative;
  margin-bottom: 20px;
}

#quem-somos p{
  margin-bottom: 10px;
  width: 90%;
}

div img{
  display: block;
  width: 100%;
}

#quem-somos img{
  min-width: 420px;
}

.container-externo{
  background-color: #122a57;
  width: 100%;
}

#servicos{
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}

.list-servicos{
  display: flex;
  justify-content: space-between;
}

.item-servico{
  text-align: center;

}

#servicos h2{
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

.item-servico a {
  width: 120px;
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
}

.item-servico p{
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;

}

.item-servico img{
  width: 80%;
  margin: auto;
}

#planos{
flex-direction: column;
min-height: 100vh;

}

.list-planos{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.item-planos{
  flex: 1;
  border: 3px solid #122a57;
  margin-right: 6px;
  padding: 10px;
  max-width: 240px;

}

.item-planos .btn{
  margin: auto;
  margin-bottom: 20px;
}

.item-planos h3{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.item-planos h3::after{
  content: "";
  background-color: #122a57;
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
margin-top: 20px;
}

.planos-lista{
  list-style-type: disc;
}
footer{
  justify-content: space-between;
  background-color: #122a57;
  height: 100px;
  display:flex;
  align-items: center;
  color: #fff;
}

.item-planos h3{
  align-items: center;
}

.list-planos ul{
  list-style-type: square;
  margin-left: 8px;
  margin-bottom: 9px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.item-planos ul li{
  display:flex;
  flex-wrap: nowrap;
  align-items: center;

}

.item-planos ul li::before{
  content: "";
  width: 10px;
  height: 10px;
  background-color: #122a57;
  margin-right: 20px;

}